.page-not-found {
    width: 400px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    background-color: #cb3837;
}
